{% extends './template.html' %}

{% block title%}Profile{% endblock  %}

{% block content %}
    <div class="form-wrapper">
        <div class="form-title"><h3>Edit Profile</h3></div>
        <div class="form-content">
        <form method="post">
            {% csrf_token %}
            {% for field in user_form %}
                <div class="form-group row">
                    {{field.errors}}
                    <label class="col-sm-2 col-form-label" for="id_{{ field.name }}">{{ field.label }}</label>
                    {% comment %} {{field}}  {% endcomment %}

                    {{field}}
                    {% if field.help_text %}
                        <div class="form-text-div">
                            <small class="form-text text-muted col-sm-12 offset-sm-2 form-help-text">{{ field.help_text }}</small>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            {% for field in profile_form %}
                <div class="form-group row">
                    {{field.errors}}
                    <label class="col-sm-2 col-form-label" for="id_{{ field.name }}">{{ field.label }}</label>
                    {% comment %} {{field}}  {% endcomment %}

                    {{field}}
                    {% if field.help_text %}
                        <div class="form-text-div">
                            <small class="form-text text-muted col-sm-12 offset-sm-2 form-help-text">{{ field.help_text }}</small>
                        </div>
                    {% endif %}
                    {% if field.id_for_label == "id_payCycle" %}
    
                        <div class="form-text-div">
                            <small class="form-text text-muted col-sm-12 offset-sm-2 form-help-text">Chose your correct cycle - a few recent and future paycles below</small>
                            <small class="form-text text-muted col-sm-12 offset-sm-2" ><b>A:</b>{% for date in A_date_array %} {{date|date:'dS N |'}}{% endfor %}</small>
                            <small class="form-text text-muted col-sm-12 offset-sm-2"><b>B:</b>{% for date in B_date_array %} {{date|date:'dS N |'}}{% endfor %}</small>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
                
            <button class="btn btn-primary" type="submit">Save changes</button>
        </form>
        </div>
    </div>

    {% comment %} <form method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <button type="submit">Save changes</button>
    </form> {% endcomment %}


{% endblock%}