<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title%}{% endblock%} - overtime Tracker</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "/overtimeRecorder/style.css"%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    {% comment %} NAVBAR {% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'overtime:index' %}">Overtime Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'overtime:index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'overtime:overtimeReq' %}">Input overtime</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'overtime:printViewOptions' %}">Print overtime form</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'overtime:rosterInput' %}">Add Roster</a>
            </li>
          </ul>
        </div>
        {% if user.is_authenticated%}
          <span class="navbar-text">
             {{ user.username }}
          </span>
          <a class="nav-link" href="{% url 'overtime:updateUser' %}">Profile</a>
          <a class="nav-link" href="{% url 'overtime:logout' %}">Log Out</a>
          
          
        {% else %}
    
            <a class="nav-link" href="{% url 'overtime:login' %}">Log in</a>
          
          
            <a class="nav-link" href="{% url 'overtime:createNewUser' %}">Sign up</a>
          
        {% endif%}
      </div>
    </nav>
    {% if messages %}  
    <ul>   
        {% for message in messages %}  
            <li>{{ message }}</li>  
            {% endfor %}  
    </ul>   
    {% endif %}  
    <div class='content'>
      {% block content%}
      
      {% endblock%}
    </div>

    {% comment %} <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> {% endcomment %}
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script async src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block scripts%}{% endblock%}
  </body>
</html>